/*! Custom styles here */

/* Fonts Optimized for mac/win Chinese users */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  /* font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif; */
  font-family: PingFangSC-Light, Hiragino Sans GB, 
        Helvetica, Tahoma, Arial, STXihei, “华文细黑”, 
        “Microsoft YaHei”, “微软雅黑”, 
        SimSun, “宋体”, Heiti, “黑体”, sans-serif
}

.btn {
    font-family: PingFangSC-Light, Hiragino Sans GB, 
        Helvetica, Tahoma, Arial, STXihei, “华文细黑”, 
        “Microsoft YaHei”, “微软雅黑”, 
        SimSun, “宋体”, Heiti, “黑体”, sans-serif
}

/*! -- Stack Bars -- */
.menu-horizontal > li,
.menu-vertical > li {
  font-family: PingFangSC, Hiragino Sans GB, 
        Helvetica, Tahoma, Arial, STXihei, “华文细黑”, 
        “Microsoft YaHei”, “微软雅黑”, 
        SimSun, “宋体”, Heiti, “黑体”, sans-serif
}

/* Style used to support different color for nav bar */
.hamburger-toggle-white i {
    color: rgb(240, 240, 240);
}

.drop-down-gray{
    background: #bdbdbd;
}

/* tunning background image  */
.background-image-holder {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover !important;
    background-position: 0% 0% !important;
    z-index: 0;
    transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    opacity: 0;
    background: #252525;
}

.background-image-holder.mobile {
    background-size: 100% !important;
}

/* #background-image-holder-tile {    
    position: relative;
    overflow: hidden;
}

#background-image-holder-tile:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    opacity: .8;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(../img-custom/logo/tile-2.png) 0 0 repeat;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
} */


/* The following are used in page family description */
.profile-img {
    height: 200px;
    width: 200px;
}

.div.text-center {
    text-align: center;
}

/* styles for tags in family desciption */
ul.tags{
    list-style-type: none;
}

ul.tags li {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 6px 12px;
    margin: 2px;
    color:#a1a1a1;
    border-color: #a1a1a1;
}

ul.tags li.red {
    color: #ff8f8f;
    border-color: #ff8f8f;
}

ul.tags li.blue {
    color: #00aeff;
    border-color: #00aeff;
}

/* style for the mobile cover image on family home page*/
#cover-mobile {
    position: relative;
    height: 55vh;
    width: 100%;
    background-image: 
        linear-gradient(to bottom right,rgba(0, 47, 75, .5),rgba(220, 66, 37, .5)),
        url(../img-custom/home/collage-mobile-2.jpg);
    background-size: 100% auto;
    display: none;
}

@media screen and (max-width: 768px) {
    #cover-mobile {
        display: block;
    }
}

/* style for the mobile cover image on sjtu aaf index page*/
#cover-mobile-2 {
    position: relative;
    height: 250px;
    width: 100%;
    background-image: 
        linear-gradient(to bottom right,rgba(0, 47, 75, .5),rgba(220, 66, 37, .5)),
        url(../img-custom/index/portal.jpg);
    background-size: 100% auto;
    display: none;
}

@media screen and (max-width: 768px) {
    #cover-mobile-2 {
        display: block;
    }
}


/* styles to fix paralle button positions  */
.bar-1 .menu-horizontal > li > .dropdown__trigger,
.bar-1 .menu-horizontal > li > a {
  font-size: 1.0em;
}

p + a:not(.btn) {
    font-size: 1.1em;
}

h2 + .btn, .h2 + .btn {
    margin-top: 0;
}