/*! Place your custom styles here */
.hamburger-toggle-white i {
    color: rgb(240, 240, 240);
}

.drop-down-gray{
    background: rgb(189, 189, 189);
}

.background-image-holder {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover !important;
    background-position: 0% 0% !important;
    z-index: 0;
    transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    opacity: 0;
    background: #252525;
  }