/*! Place your custom styles here */
.hamburger-toggle-white i {
    color: rgb(240, 240, 240);
}

.drop-down-gray{
    background: #bdbdbd;
}

.background-image-holder {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover !important;
    background-position: 0% 0% !important;
    z-index: 0;
    transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    opacity: 0;
    background: #252525;
}

.background-image-holder.mobile {
    background-size: 100% !important;
}

/* The following are used in page family description */
.profile-img {
    height: 200px;
    width: 200px;
}

.div.text-center {
    text-align: center;
}

/* manage tag styles in family desciption */
ul.tags{
    list-style-type: none;
}

ul.tags li {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 6px 12px;
    margin: 2px;
    color:#a1a1a1;
    border-color: #a1a1a1;
}

ul.tags li.red {
    color: #ff8f8f;
    border-color: #ff8f8f;
}

ul.tags li.blue {
    color: #00aeff;
    border-color: #00aeff;
}

/* style for the mobile cover image on family main*/
#cover-mobile {
    position: relative;
    height: 55vh;
    width: 100%;
    background-image: 
        linear-gradient(to bottom right,rgba(0, 47, 75, .5),rgba(220, 66, 37, .5)),
        url(../img-custom/home/collage-mobile-2.jpg);
    background-size: 100% auto;
    display: none;
}

@media screen and (max-width: 768px) {
    #cover-mobile {
        display: block;
    }
}

/* style for the mobile cover image on sjtu aaf main*/
#cover-mobile-2 {
    position: relative;
    height: 250px;
    width: 100%;
    background-image: 
        linear-gradient(to bottom right,rgba(0, 47, 75, .5),rgba(220, 66, 37, .5)),
        url(../img-custom/index/portal.jpg);
    background-size: 100% auto;
    display: none;
}

@media screen and (max-width: 768px) {
    #cover-mobile-2 {
        display: block;
    }
}



.bar-1 .menu-horizontal > li > .dropdown__trigger,
.bar-1 .menu-horizontal > li > a {
  font-size: 1.0em;
}

p + a:not(.btn) {
    font-size: 1.1em;
}